<div class="toolbar-container">
    <mat-toolbar class="tool-bar">
      <img class="logo" [src]="logoUrl" (click)="goToPage('')"/>
      <span class="app-title" (click)="goToPage('')">Jun's Blog</span>
      <span class="spacer"></span>
    
      <div class="action-button" (click)="showSearchBar = !showSearchBar" [routerLink]="['/search']" [routerLinkActive]="['is-active']">
        <mat-icon>search</mat-icon>
        <span class="icon-label">Search</span>
     </div>
      <div class="action-button" *ngIf="!currentUser" [routerLink]="['/login']" [routerLinkActive]="['is-active']">
          <mat-icon>login</mat-icon>
          <span class="icon-label">Login</span>
      </div>
      <div class="action-button" *ngIf="!currentUser"  [routerLink]="['/register']" [routerLinkActive]="['is-active']">
        <mat-icon>how_to_reg</mat-icon>
        <span class="icon-label">Register</span>
      </div>
      <div class="action-button" *ngIf="currentUser" [routerLink]="['/editor']" [routerLinkActive]="['is-active']">
        <mat-icon >post_add</mat-icon>
        <span class="icon-label">Post</span>
      </div>
      <div class="action-button" *ngIf="currentUser" [routerLink]="['/profile/',currentUser.id]" [routerLinkActive]="['is-active']">
        <mat-icon >person</mat-icon>
        <span class="icon-label">Me</span>
      </div>
    </mat-toolbar>
  </div>