/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import '~ngx-toastr/toastr';

$color-orange: #f44336;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f5f5f5; padding-top: 64px;}  //padding-top for the sticky toolbar

.mat-tooltip {
    font-size: 15px;
}

.link{
    text-decoration: none;
    color: black;

    &:hover{
        color: $color-orange;
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
}

.image-link{
    &:hover{
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
}

.ql-editor{
    font-size: 16px;
}

.search-control-container{
    .mat-form-field-wrapper{
        margin: 8px 20px 0px 8px;
    }
}


@media only screen and (max-width: 768px){
    body{
        padding-top: 0px;
        margin-bottom: 64px;
    }

    .ql-editor{
        font-size: 14px;
    }
}