<div class="comment-item-container" fxLayout="column">
    <mat-divider></mat-divider>
    <div class="user-details" fxLayout="row">
        <img class="images profile-image image-link" routerLink="{{'/profile/' + comment.user.id}}" [src]="comment.user.image ? comment.user.image : defaultAvatarUrl" />
        <div class="name-div">
            <span class="reader-name link" routerLink="{{'/profile/' + comment.user.id}}" [ngClass]="{'chip-style': comment.user.id == article.author.id}">{{comment.user.name}}</span>
            <span class="commented-time">{{comment.updatedOn | timeAgo }}</span>
        </div>
    </div>
    <span class="comment-details">
        <div class="comment-content">
            {{comment.commentText}}
        </div>
        <div class="comment-status">
            <button mat-icon-button [disabled]="isProcessing" color="{{comment.ranking.didILike ? 'success' : 'unrated'}}" mat-button (click)="likeComment()">
                <mat-icon matTooltip="Like">thumb_up</mat-icon>
            </button>
            <span class="rankingCounts" *ngIf="comment.ranking.likesCount > 0">{{comment.ranking.likesCount}}</span>
            <button mat-icon-button [disabled]="isProcessing" color="{{comment.ranking.didIDislike ? 'success' : 'unrated'}}" mat-button (click)="dislikeComment()">
                <mat-icon matTooltip="Dislike">thumb_down</mat-icon>
            </button>
            <span class="rankingCounts" *ngIf="comment.ranking.dislikesCount > 0">{{comment.ranking.dislikesCount}}</span>
            <button mat-button (click)="showCommentControl(comment)">REPLY</button>
            <div class="view-reply-link" (click)="viewReplies()" *ngIf="comment.childrenCommentsCount > 0" >
                <mat-icon  *ngIf="!viewRepliesOpen">arrow_drop_down</mat-icon>
                <mat-icon  *ngIf="viewRepliesOpen">arrow_drop_up</mat-icon>
                <div *ngIf="comment.childrenCommentsCount == 1">{{viewRepliesOpen? 'Hide' : 'View'}} reply</div>
                <div *ngIf="comment.childrenCommentsCount > 1">{{viewRepliesOpen? 'Hide' : 'View'}} {{comment.childrenCommentsCount}} replies</div>
                <mat-spinner [diameter]="22" *ngIf="loading" color="warn"></mat-spinner>
            </div>
            <div class="sub-comment-container">
                <div *ngIf="viewRepliesOpen">
                    <div class="reply-item" *ngFor="let reply of comments">
                        <app-comment-displayer [comment]="reply" [article]="article"></app-comment-displayer>
                    </div>
                    <div *ngIf="commentPagingResult && commentPagingResult.hasNextPage" class="view-reply-link" (click)="getMoreReplies()">
                        <mat-icon>vertical_align_bottom</mat-icon>
                        <span>View more replies</span>
                        <mat-spinner [diameter]="22" *ngIf="loading" color="warn"></mat-spinner>
                    </div>
                </div> 
            </div>   
        </div>
    </span>
</div>

