.profile-info{
    padding: 15px;
    .profile-image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }   
    .profile-details{
        margin-left: 15px;
    }    
}

.profile-editor{
    background-color: white;
    margin: 15px;
    image-cropper {
        max-width: 500px;
        max-height: 500px;
        padding: 0px;
    }
}

.action-buttons{
    padding-bottom: 10px;
    button{
        margin-right: 10px;
    }  
}

.margin-top-15px{
    margin-top: 15px !important;
}

.avatar-box{
    position: relative;
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        top: -8px;
        left: 0px;
    }
}