<div class="profile-editor-container">
    <div class="profile-info" fxLayout="row" fxLayoutAlign="start top">
        <img class="profile-image"  [src]="avatarSrc"/>
        <div class="profile-details">
            <form class="user-info-form" [formGroup]="userForm" fxLayout="column">
                <mat-form-field class="display-name-field" >
                  <mat-label>Display name</mat-label>
                  <input matInput placeholder="Display name" autocomplete="off" formControlName="displayName" value="user.name">
                  <mat-error class="validation-message" *ngIf="userFormControl.displayName.hasError('required')">
                    Name is required
                </mat-error > 
                </mat-form-field>          
                <mat-form-field class="email-field"  [ngClass]="{'margin-top-15px': isInvalid(userFormControl.displayName)}">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" autocomplete="off" formControlName="email" value="{{user.email}}">
                     <mat-error class="validation-message" *ngIf="userFormControl.email.hasError('required')">
                        Email is required
                    </mat-error > 
                    <mat-error  class="validation-message" *ngIf="userFormControl.email.hasError('invalidPattern')">
                        Email is invalid
                    </mat-error > 
                </mat-form-field>
            </form>
        </div>     
    </div>

    <div class="profile-editor">
        <input type="file" (change)="fileChangeEvent($event)" #uploadInput hidden/>

        <div>
            <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [resizeToWidth]="100"
            [cropperMinWidth]="128"
            format="png"
            (imageCropped)="imageCropped($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        </div>
       
        <div class="action-buttons">
            <button mat-flat-button color="primary" [disabled]="uploading" type="file" (click)="uploadInput.click()">Upload Photo</button>  
            <button mat-flat-button color="warn" [disabled]="!canSave()"  (click)="onSave()">Save</button>  
            <button mat-stroked-button [disabled]="uploading" (click)="onCancel()">Cancel</button> 
        </div>
    </div>
</div>
