<div class="user-info-editor">
    <div *ngIf="user" class="profile-stats-box">
        <div class="avatar-box">
            <img class="images profileImage image-link" [src]="avatarSrc ? avatarSrc : defaultAvatarUrl"/>
            <div class="grey-text">{{user.role}}</div>    
        </div>   
        <div class="user-info">
            <form class="user-info-form" [formGroup]="userForm">
                <mat-form-field class="display-name-field" >
                  <mat-label>Display name</mat-label>
                  <input matInput placeholder="Display name" formControlName="displayName" value="{{user.name}}">
                </mat-form-field>
              
                <mat-form-field class="email-field" >
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName="email" value="{{user.email}}">
                </mat-form-field>
            </form>
        </div>      
    </div>


    <div class="editor">
        <input type="file" (change)="fileChangeEvent($event)" #uploadInput hidden/>

        <div>
            <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [resizeToWidth]="100"
            [cropperMinWidth]="128"
            format="png"
            (imageCropped)="imageCropped($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        </div>
       
        <div class="action-buttons">
            <button mat-raised-button color="warn" [disabled]="uploading" type="file" (click)="uploadInput.click()"><mat-icon>file_upload</mat-icon>Upload Photo</button>  
            <button mat-raised-button color="warn" [disabled]="userForm.invalid || uploading"  (click)="onSave()"><mat-icon>save</mat-icon>Save</button>  
            <button mat-raised-button [disabled]="uploading" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button> 
        </div>
    </div>

</div>
