.user-info-editor{
    padding-bottom: 15px;;
    .profile-stats-box{
        padding: 15px;
        display: flex;
        .grey-text{
            color: #999;
        }
    
        .avatar-box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .profileImage{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    
        .user-info{
            margin-left: 15px;
            .user-info-form{
                display: flex;
                flex-direction: column;
            }
        }
        span{
            margin-right: 20px;
            margin: 0px 20px 0px 5px;
            vertical-align: super;
        }
    }
    .action-buttons{
        button{
            margin-right: 8px;
        }
    }

    .editor{
        padding: 8px;
        background-color: white;
        image-cropper {
            max-width: 500px;
            max-height: 500px;
            padding: 0px;
        }
    }
  
}


@media only screen and (max-width: 768px){
    .user-info-editor{
        image-cropper {
            width: 100%;
        }
    }
}