<div class="search-container">
    <div class="search-result-section">
        <app-articles-list [loadOnInit]="false" ></app-articles-list>
    </div>
</div>

<div class="search-control-container">
    <div class="search-control">
        <mat-form-field>
            <input matInput  autocomplete="off" [(ngModel)]="searchOption.searchKey" type="search" (keyup.enter)="search()" placeholder="filter..." class="search-input">
            <mat-icon (click)="search()"  matSuffix>search</mat-icon>
        </mat-form-field>     
    </div>
</div>
