<div class="search-container">

    <mat-button-toggle-group name="sortBy" [(ngModel)]="sortBy"  aria-label="Sort By" (change)="sortByChanged()">
        <mat-button-toggle value="recent">Recent</mat-button-toggle>
        <mat-button-toggle value="views">Views</mat-button-toggle>
        <mat-button-toggle value="likes">Likes</mat-button-toggle>
        <mat-button-toggle value="favors">Favorites</mat-button-toggle>
    </mat-button-toggle-group>
      
    <div class="article-list">
        <app-articles-list [loadOnInit]="false" ></app-articles-list>
    </div>
</div>
