<div class="comments-container"
    infiniteScroll [infiniteScrollDistance]="scrollDistance" 
    [infiniteScrollUpDistance]="scrollUpDistance" 
    [infiniteScrollThrottle]="throttle" 
    (scrolled)="onScrollDown()">
    <div class="article-comments-section">
        <div class="comment-title"><span>{{article.commentsCount}}</span><span>Comments</span></div>
    </div>
    <div>
        <div class="comment-item" *ngFor="let comment of displayComments">
            <app-comment-displayer [comment]="comment"  [article]="article"></app-comment-displayer>
        </div>
    </div>
</div>
