
 .comments-container{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px 0px;
    background-color: white;

    .article-comments-section{
        margin: 15px 0px;
        .comment-title{
            font-size: 20px;
            span{
                margin-left: 10px;
            }
        }
    }
    .indicator-container{
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        .indicator{
            position: fixed;
            bottom: 25px;
        }
    }
 }

 @media only screen and (max-width: 768px){
    .comments-container{
        padding: 5px;  
        button{
            font-size: 12px;
            line-height: 26px;
        }
        .mat-raised-button{
            background-color: red;
        }

        .indicator-container{
            .indicator{
                top: 10px;
            }
        }
    }
}