$color-orange: #f44336;

.profile-container{    
    .profile-stats-box{
        padding: 15px;
        display: flex;
        .grey-text{
            color: #999;
        }

        .avatar-box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .profileImage{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        .user-info{
            margin-left: 15px;
        }
        span{
            margin-right: 20px;
            margin: 0px 20px 0px 5px;
            vertical-align: super;
        }

        .edit-button{
            &:hover{
                color: $color-orange;
                cursor: pointer;
            }
        }
    }

    .summary-info{
     
        display: flex;
        width: 100%;
        .my-list{
            .active{
                background-color: $color-orange !important;
                color: white;
                &:hover{
                    color: white !important;
                }
            }
            .list-item{
                display: flex;
                align-items: center;
                width: 200px;
                height: 50px;
                background-color: white;
                box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
                .mat-icon{
                    margin-left: 15px;
                }
                 &:hover{
                    color: $color-orange;
                    cursor: pointer;
                }
                span{
                    margin-left: 5px;
                } 
            }

            .margin-top{
                margin-top: 8px;
            }
        }
        .list-content{
            .search-control-container{
                width: 100%;
                background-color: white;
                .mat-form-field{
                    width: 100%;
                    .mat-icon{
                        color: #999;
                        &:hover{
                            color: $color-orange;
                            cursor: pointer;
                        }
                    }
                }
            }
            margin-left: 15px;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px){
    .profile-container{ 
        .summary-info{
            display: flex;
            flex-direction: column;
            .my-list{
                width: 100%;
                .list-item{
                    width: 100%;
                }
            }
            .list-content{
                margin-left: 0px;
            }
        }
    }
}