<div class="profile-container" *ngIf="profile">
    <div *ngIf="!showEditor"  class="profile-info" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="profile-image"  [src]="profile.user.image"/>
            <button mat-button color="primary" *ngIf="canEdit()" (click)="toggleProfileEditor()">Edit profile</button>
        </div>  
        <div class="profile-details">
            <div>{{profile.user.name}}</div>
            <div class="grey-text">{{profile.user.email}}</div>
            <div class="grey-text">Joined: {{profile.user.createdOn | date:'shortDate'}}</div>
            <div class="grey-text">{{profile.user.role}}</div>
        </div>     
    </div>

    <app-profile-editor *ngIf="showEditor" class="profile-editor" [user]="profile.user" (onEditorExit)="showEditor = false"></app-profile-editor>

    <div class="profile-summary">
        what is that
        <button mat-stroked-button color="primary" (click)="logout()">Sing out</button>
    </div>
</div>
