<div class="profile-container" *ngIf="profile">
    <div class="profile-stats-box">
        <div class="avatar-box">
            <img class="images profileImage image-link" [src]="profile.user.image ? profile.user.image : defaultAvatarUrl"/>
            <div class="grey-text">{{profile.user.role}}</div>    
        </div>   
        <div class="user-info">
            <div>{{profile.user.name}}</div>
            <div class="grey-text">{{profile.user.email}}</div>
            <div class="grey-text">Joined: {{profile.user.createdOn | date:'shortDate'}}</div>
        </div>      
    </div>
    <div class="summary-info">
        <div class="my-list">
            <div class="list-item" [ngClass]="{'active': selectedTab == 'myArticles'}" (click)="showMyArticles()">
                <mat-icon>article</mat-icon><span>Articles</span><span>({{profile.articlesCount}})</span>
            </div>
            <div class="list-item" [ngClass]="{'active': selectedTab == 'myLikes'}" (click)="showMyLikes()">
                <mat-icon>thumb_up</mat-icon><span>Likes</span><span>({{profile.likesCount}})</span>
            </div>
            <div class="list-item" [ngClass]="{'active': selectedTab == 'myFavorites'}" (click)="showMyFavorites()">
                <mat-icon>favorite</mat-icon><span>Favorite</span><span>({{profile.favorsCount}})</span>
            </div>
            <div class="list-item margin-top" [ngClass]="{'active': selectedTab == 'settings'}" (click)="showSettings()">
                <mat-icon>settings</mat-icon><span>Settings</span>
            </div>
            <div class="list-item" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon><span>Sign out</span>
            </div>
        </div>
        <div class="list-content">
            <div class="search-control-container">
                <mat-form-field>
                    <input matInput  autocomplete="off" [(ngModel)]="searchOption.searchKey" type="search" (keyup.enter)="search()" placeholder="search..." class="search-input">
                    <mat-icon (click)="search()"  matSuffix>search</mat-icon>
                </mat-form-field>     
            </div>
            <app-articles-list [loadOnInit]="false"></app-articles-list>
        </div>
    </div>
</div>