<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav"
                [fixedInViewport]="true" [fixedTopGap]="0"
                [fixedBottomGap]="0">
    <p>side bar</p>
    <p>side bar</p>
    <p>side bar</p>
    <p>side bar</p>
    <p>side bar</p>
    <p>side bar</p>
    <button (click)="toggleSidebar()">Click</button>
    </mat-sidenav>

    <mat-sidenav-content >
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

  
