<div class="reg-container">
    <form class="reg-form" [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <span class="reg-form-title">User Registration</span>
        <mat-form-field class="form-item" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" type="email" formControlName="email"/>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field class="form-item" appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Enter your full name" formControlName="name"/>
            <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
        <mat-form-field class="form-item" appearance="outline" >
            <mat-label>Password</mat-label>
            <input (blur)="onPasswordChanged()" matInput placeholder="Enter your password" formControlName="password" [type]="hidePassword ? 'password' : 'text'"/>
            <mat-icon (click)="hidePassword = !hidePassword" matSuffix>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
        </mat-form-field>
        <mat-form-field class="form-item" appearance="outline" >
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Re-enter your password" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'"/>
            <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword" matSuffix>{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
        </mat-form-field>
        <button class="form-item" mat-raised-button color="warn" type="submit" [disabled]="regForm.invalid">Register!</button>
        <div class="overlay" *ngIf="inProcess">
            <mat-spinner color="warn"></mat-spinner>
          </div>
    </form>
</div>
