<div class="comment-control-container" *ngIf="isVisibleCommenter">
    <div class="overlay"></div>
    <div class="comment-control">
        <div class="comment-input-section">
            <img class="images profileImage" [src]="currentUser.image? currentUser.image : defaultAvatarUrl"/>
            <mat-form-field class="comment-field">
                <mat-label>Leave a comment</mat-label>
                <textarea [(ngModel)]="commenterRequest.commentDraft" matInput matTextareaAutosize [matAutosizeMaxRows]="10" [matAutosizeMinRows]="2" placeholder="Leave a footstep here..."></textarea>
            </mat-form-field> 
        </div>  
        <div class="action-buttons-container">
            <button class="comment-button" [disabled]="commenterRequest.commentDraft.length == 0" color="warn" type="submit" (click)="submit()"  mat-button >COMMENT</button>   
            <button class="cancel-button" mat-button (click)="cancel()" >CANCEL</button>
        </div>      
    </div>
</div>

