<mat-toolbar class="header">
    <img class="logo link" src="./assets/logo.png" (click)="toggleSidebar()" />
    <span class="app-title link" [routerLink]="['/home']">Jun's Blog</span>
    <div class="action-button link mobile-button" (click)="goBack()">
      <mat-icon class="rotate180">forward</mat-icon>
      <span class="icon-label">back</span>
    </div>
    <div class="action-button link mobile-button" [routerLink]="['/home']" [routerLinkActive]="['is-active']">
      <mat-icon>home</mat-icon>
      <span class="icon-label">Home</span>
    </div>

    <span class="spacer"></span>

    <div class="action-button link search-mobile" (click)="toggleMobileSearch()">
      <mat-icon>find_in_page</mat-icon> 
      <span class="icon-label">Search</span>
    </div>

    <div fxLayout="row" class="search-group">
      <mat-form-field class="search-field">
        <input matInput type="search" placeholder="Search..." [(ngModel)]="searchKey">
        <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="searchKey=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="action-button link" [ngClass]="{'disabled-link': searchKey.length == 0}" (click)="search()">
        <mat-icon>find_in_page</mat-icon> 
        <span class="icon-label">Search</span>
      </div>
    </div>

    <div class="action-button link" *ngIf="!currentUser" [routerLink]="['/login']" [routerLinkActive]="['is-active']">
        <mat-icon>login</mat-icon> 
        <span class="icon-label">Login</span>
    </div>
    <div class="action-button link" *ngIf="!currentUser"  [routerLink]="['/register']" [routerLinkActive]="['is-active']">
      <mat-icon>how_to_reg</mat-icon>
      <span class="icon-label">Register</span>
    </div>
    <div class="action-button link" *ngIf="currentUser"  [routerLink]="['/editor']" [routerLinkActive]="['is-active']">
        <mat-icon>note_add</mat-icon>
        <span class="icon-label">Post</span>
      </div>
    <div class="user-info link" *ngIf="currentUser" fxLayout="row" fxLayoutAlign="space-between center" [routerLink]="['/profile', currentUser.id]"  [routerLinkActive]="['is-active']" >
        <img class="profile-image"  [src]="currentUser.image"/>
    </div>
</mat-toolbar>

<div *ngIf="showMobileSearch" class="search-control" fxLayout="column">
  <div class="over-lay" (click)="toggleMobileSearch()"></div>
  <div fxLayout="row" fxLayoutAlign="start end" class="search-group-mobile">
    <mat-form-field class="search-field">
      <input matInput type="search" placeholder="Search..." [(ngModel)]="searchKey">
      <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="searchKey=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="action-button link search-button" [ngClass]="{'disabled-link': searchKey.length == 0}" (click)="search()">
      <mat-icon>search</mat-icon> 
    </div>
  </div>    
</div>