<mat-toolbar class="header">
    <img class="logo link" src="./assets/logo.png" (click)="toggleSidebar()" />
    <span class="app-title link" [routerLink]="['/']">Jun's Blog</span>
    <span class="spacer"></span>
    <div class="action-button link" *ngIf="!currentUser" [routerLink]="['/login']" [routerLinkActive]="['is-active']">
        <mat-icon>login</mat-icon>
        <span class="icon-label">Login</span>
    </div>
    <div class="action-button link" *ngIf="!currentUser"  [routerLink]="['/register']" [routerLinkActive]="['is-active']">
      <mat-icon>how_to_reg</mat-icon>
      <span class="icon-label">Register</span>
    </div>
    <div class="action-button link" *ngIf="currentUser"  [routerLink]="['/editor']" [routerLinkActive]="['is-active']">
        <mat-icon>note_add</mat-icon>
        <span class="icon-label">Post</span>
      </div>
    <div class="user-info link" *ngIf="currentUser" fxLayout="row" fxLayoutAlign="space-between center" [routerLink]="['/profile', currentUser.id]"  [routerLinkActive]="['is-active']" >
        <img class="profile-image"  [src]="currentUser.image"/>
    </div>
</mat-toolbar>
