$color-warn: #f44336;

.header{
    position: fixed;
    z-index:10;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    height:60px;
}

.logo{
    width: 40px;
    height: 40px;
}

.spacer{
    flex: 1 1 auto;
}

.app-title{
    color: $color-warn;
    font-size: 22px;
    margin-left: 5px;
}

.link{
    outline: none;
    &:hover{
        color: $color-warn;
        cursor: pointer;
    }
}

.disabled-link{
    outline: none;
    color: grey;
    &:hover{
        color: grey;
        cursor: default;
    }
}

.is-active{
    color: $color-warn;
    outline: none;          
}

.search-field{
    font-size: 14px;
    width: 200px;
    height: 45px;
}

.action-button{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-icon {
        font-size: 25px;
        position: relative;
    }
    .icon-label{
       font-size: 14px;
       line-height: 20px;
    }
}

.user-info{
    .profile-image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.mobile-button{
    display: none;
}

.rotate180{
    transform: rotate(180deg);
}

.search-mobile{
    display: none;
}

@media only screen and (max-width: 768px){
    .header{
        top:auto;
        bottom: 0;
    }
    .app-title{
        display: none;
    }
    .mobile-button{
        display: flex;
    }
    .logo{
        display: none;
    }
    .search-mobile{
        display: flex;
    }
    
    .search-group{
        display: none !important;
    }
    .search-control{
        position: fixed;
        bottom:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 30;
        background-color:  rgba(0, 0, 0, 0.7);
       
        .over-lay{
           flex: 1 1 auto;
        }
        .search-group-mobile{
            background-color: white;
            .search-field{
                width: 100%;
                padding: 5px 15px;
            }
            .search-button{
               margin-left: 0px;
               margin-bottom: 12px;
            }
        }
       
    }
}