$color-orange: #f44336;

.articles-container{
    .overlay{
        padding-top: 20px;
        height: 100%;
        width: 100%;
        z-index: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .article-info-box{
        padding: 10px;
        background-color: white;
        margin-top: 10px;
        .article-title{
            font-size: 18px;
            font-weight: 500;
        }

        .article-status-container{
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #999;
            .profileImage{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .article-status-block{
                padding-top: 6px;
                .mat-success {
                    color: $color-orange;
                }
                
                .mat-unrated {        
                    color: #999;
                }
            }
            span{
                margin: 0px 20px 0px 5px;
                vertical-align: super;
            }
        }
        .article-categories{
            .chip-style {
                background-color: $color-orange;
                color: white;
                padding: 3px 8px;
                border-radius: 23px;
                box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
                opacity: 0.6;
            }
            span{
                margin-left: 5px;
            }
            margin-bottom: 8px;
        }
      
    }

    .no-result{
        margin: 20px 0px 0px 20px;
    }
}


@media only screen and (max-width: 768px){
    .articles-container{
        padding-bottom: 64px;
        .article-info-box{
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .article-title{
            font-size: 16px !important;
        }
    }
}