<div class="articles-container"
    infiniteScroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()">
    <div class="article-item"  *ngFor="let article of articles">
        <div class="images-container">
            <img class="images" (error)="article.hideImage = true" [hidden]="article.hideImage" [src]="article.coverImage"/>
        </div>
        <div class="article-info-box">
            <a class="article-title link" routerLink="{{'/article/' + article.id}}">{{article.title}}</a>
            <div class="article-status-container">
                <div>
                    <img class="images profileImage" [src]="article.author.image ? article.author.image : defaultAvatarUrl"/>
                </div>
                <div class="article-status-block">
                    <span >{{article.author.name}}</span>
                    <div>
                        <mat-icon>visibility</mat-icon>
                        <span>{{article.views}}</span>
                        <mat-icon>comment</mat-icon>
                        <span>{{article.commentsCount}}</span>
                        <mat-icon>schedule</mat-icon>
                        <span>{{article.updatedOn | timeAgo}}</span>
                    </div>
                </div>
            </div> 
            <div class="article-abstract">{{article.abstract}}</div>
        </div>
    </div>
    <div *ngIf="noSearchResult" class="no-result">
        <p>Your search - <b>{{articlePagingResult.searchOption.searchKey}}</b> - did not match any image results.</p>
        <p>Suggestions:</p>
        <ul>
            <li>Make sure all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
        </ul>
    </div>
    <div class="overlay" *ngIf="loading">
        <mat-spinner color="warn"></mat-spinner>
    </div>
</div>
