.articles-container{
    .article-info-box{
        padding: 10px;
        background-color: white;
        margin-top: 10px;
        .article-title{
            font-size: 18px;
            font-weight: 500;
        }

        .article-status-container{
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #999;
            .profileImage{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .article-status-block{
                padding-top: 6px;
            }
            span{
                margin: 0px 20px 0px 5px;
                vertical-align: super;
            }
        }
    }

    .no-result{
        margin: 20px 0px 0px 20px;
    }
}


@media only screen and (max-width: 768px){
    .articles-container{
        margin-bottom: 64px;
        .article-info-box{
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .article-title{
            font-size: 16px !important;
        }
    }
}