.editor-container{
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    .full-width{
        width: 100%;
    }

    .action-buttons{
        margin-top: 10px;
        .spacer{
            flex: 1 1 auto;
        }
        button{
            margin-left: 10px;
        }
    }
}

.invalid-category{
    caret-color: rgb(244, 67, 54);
}

.overlay{
    margin-top: 20px;
    z-index: 900;
    background-color: transparent;
}


@media only screen and (max-width: 768px){
    .editor-container{
        margin: 0px;
        margin-bottom: 10px;
    }
}