.editor-container{
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 15px;

    .full-width{
        width: 100%;
    }

    .action-buttons{
        margin-top: 10px;
        .spacer{
            flex: 1 1 auto;
        }
        button{
            margin-left: 10px;
        }
    }
}