<div class="reset-container">
    <mat-vertical-stepper  [linear]="isLinear" #stepper>
        <mat-step [stepControl]="emailFormGroup" [ngClass]="{'red-header': true }"  [editable]="false">
          <form [formGroup]="emailFormGroup">
            <ng-template matStepLabel>Fill out your account email</ng-template>
            <mat-form-field>
              <mat-label>account email</mat-label>
              <input matInput placeholder="account email" formControlName="email" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="warn" type="=button" (click)="sendEmail(stepper)" [disabled]="isProcessing || emailFormGroup.invalid">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="tokenFormGroup" [editable]="false" >
          <form [formGroup]="tokenFormGroup">
            <ng-template matStepLabel>Check your email for the reset token</ng-template>
            <mat-form-field>
              <mat-label>reset token</mat-label>
              <input matInput formControlName="token" placeholder="password reset token" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="warn"  type="=button" [disabled]="isProcessing || tokenFormGroup.invalid" (click)="verifyToken(stepper)">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="passwordFormGroup" [editable]="false" >
          <form [formGroup]="passwordFormGroup">
            <ng-template matStepLabel>Please enter your new password</ng-template>
          <div>
            <mat-form-field>
              <mat-label>New Password</mat-label>
              <input (blur)="onPasswordChanged()" matInput placeholder="Enter new password" formControlName="password" [type]="hidePassword ? 'password' : 'text'"/>
              <mat-icon (click)="hidePassword = !hidePassword" matSuffix>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
          </mat-form-field>
          </div>
          <div>
            <mat-form-field >
              <mat-label>Confirm New Password</mat-label>
              <input matInput placeholder="Re-enter new password" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'"/>
              <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword" matSuffix>{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
          </mat-form-field>
          </div>
            <div>
              <button mat-raised-button (click)="login()">cancel</button>
              <button class="reset-password" mat-raised-button color="warn"  type="=button" [disabled]="isProcessing || passwordFormGroup.invalid" (click)="resetPassword(stepper)">Reset Password</button>
            </div>
          </form>
        </mat-step>
        <mat-step [editable]="false" >
          <ng-template matStepLabel>Done</ng-template>
          <p>You've successfully reset your password.</p>
          <div>
            <button mat-raised-button color="warn" (click)="login()">Login</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
</div>
 
