.reset-container{
    display: flex;
    justify-content: center;
    align-items: center;
.mat-stepper-vertical {
    margin-top: 100px;
  }
  .mat-form-field {
    margin-top: 16px;
  }
  .reset-password{
    margin-left: 10px;
  }
}
