<div class="reset-container" fxLayoutAlign="center center">
    <mat-vertical-stepper  [linear]="isLinear" #stepper>
        <mat-step [stepControl]="emailFormGroup" [ngClass]="{'red-header': true }"  [editable]="false">
          <form [formGroup]="emailFormGroup">
            <ng-template matStepLabel>Fill out your account email</ng-template>
            <mat-form-field>
              <mat-label>account email</mat-label>
              <input matInput placeholder="account email" autocomplete="off" formControlName="email" required>
                <mat-error class="validation-message" *ngIf="emailFormControl.email.hasError('required')">
                    Email is required
                </mat-error > 
                <mat-error  class="validation-message" *ngIf="emailFormControl.email.hasError('invalidPattern')">
                    Email is invalid
                </mat-error > 
            </mat-form-field>
            <div [ngClass]="{'margin-top-15px': isInvalid(emailFormControl.email)}">
              <button mat-raised-button color="warn" type="=button" (click)="sendEmail(stepper)" [disabled]="isProcessing || emailFormGroup.invalid">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="tokenFormGroup" [editable]="false" >
          <form [formGroup]="tokenFormGroup">
            <ng-template matStepLabel>Check your email for the reset token</ng-template>
            <mat-form-field>
              <mat-label>reset token</mat-label>
              <input matInput formControlName="token" placeholder="password reset token" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="warn"  type="=button" [disabled]="isProcessing || tokenFormGroup.invalid" (click)="verifyToken(stepper)">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="passwordFormGroup" [editable]="false" >
          <form [formGroup]="passwordFormGroup">
            <ng-template matStepLabel>Please enter your new password</ng-template>
          <div>
            <mat-form-field>
              <mat-label>New Password</mat-label>
              <input matInput placeholder="Enter new password" formControlName="password" [type]="hidePassword ? 'password' : 'text'"/>
              <mat-icon (click)="hidePassword = !hidePassword" matSuffix>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
              <mat-error class="validation-message" *ngIf="passwordFormControl.password.hasError('required')">
                Password is required
            </mat-error > 
          </mat-form-field>
          <mat-error class="validation-error-message" *ngIf="passwordFormControl.password.hasError('minlength')">* Password at least 8 characters in length</mat-error>
          <mat-error class="validation-error-message" *ngIf="passwordFormControl.password.hasError('hasUppercasePattern')">* Password must contains uppercase letter</mat-error>
          <mat-error class="validation-error-message" *ngIf="passwordFormControl.password.hasError('hasNumberPattern')">* Password must contains number</mat-error>
          </div>
          <div [ngClass]="{'margin-top-15px': isInvalid(passwordFormControl.password)}">
            <mat-form-field >
              <mat-label>Confirm New Password</mat-label>
              <input matInput placeholder="Re-enter new password" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'"/>
              <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword" matSuffix>{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
              <mat-error class="validation-message" *ngIf="passwordFormControl.confirmPassword.hasError('required')">
                Password confirmation is required
            </mat-error > 
            <mat-error class="validation-message" *ngIf="passwordFormControl.confirmPassword.hasError('passwordMismatch')">
                Password does not match
            </mat-error >
          </mat-form-field>
          </div>
            <div [ngClass]="{'margin-top-15px': isInvalid(passwordFormControl.confirmPassword)}">
              <button mat-raised-button (click)="login()">cancel</button>
              <button class="reset-password" mat-raised-button color="warn"  type="=button" [disabled]="isProcessing || passwordFormGroup.invalid" (click)="resetPassword(stepper)">Reset Password</button>
            </div>
          </form>
        </mat-step>
        <mat-step [editable]="false" >
          <ng-template matStepLabel>Done</ng-template>
          <p>You've successfully reset your password.</p>
          <div>
            <button mat-raised-button color="warn" (click)="login()">Login</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
</div>
 